<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="xml파일과 세트인 mapper interface의 풀네임이 들어가야 한다. -->

<mapper namespace="com.green.memoserver.MemoMapper">

    <!-- 메모저장 -->
    <insert id="save">
        INSERT INTO memo
        SET title = #{title}
        , content = #{content}
    </insert>

    <!-- 메모 수정 -->
    <update id="modify">
        UPDATE memo
        SET title = #{title},
        content = #{content}
        WHERE id = #{id}
    </update>

    <!-- 메모 삭제 -->
    <delete id="delete">
        DELETE FROM memo
        WHERE id = #{id}
    </delete>

    <!-- 메모 리스트 조회 -->
    <select id="findAll" resultType="com.green.memoserver.model.MemoGetRes">
        SELECT id, title, content, created_at
        FROM memo
        <if test="searchText != null and searchText != '' ">
            <!-- <bind name="pattern" value="'%' + _parameter.getSearchText() + '%' /> -->
            WHERE title LIKE CONCAT('%', #{searchText}, '%') <!-- 버전업 버젼 : WHERE title LIKE #{PATTERN} -->
            OR content LIKE CONCAT('%', #{searchText}, '%')
        </if>
        ORDER BY id DESC
    </select>

    <!-- 메모 하나 조회 -->
    <select id="findById">
        SELECT *
        FROM memo
        Where id = #{id}
    </select>

</mapper>





